$principalColor :#0B8E76;
.progress{
    max-width: 90%;
    align-self:center;
}
.comp{
    flex-direction: row;
}

.col1 {
    justify-items: center;
    align-items: center;
}

.col2 {
    
    justify-items: center;
    align-items: center;
}
.title{
    justify-content:center;
    align-content: center;
    align-items: center;
}